# Application Configs
SECRET_KEY=yoursecretkeyherefortokengeneration

# Database Connection
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=gridlock
